@use 'var';

.hero {
    height: 92vh;
    background: url(var.$bg_hero);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .header {
        position: fixed;
        height: 64px;;
        background-color: rgba(0, 0, 0, 0.2);
        justify-items: center;
        align-content: center;
        width: 100%;

        .header__container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                a {
                    font-size: 24px;
                    color: white;
                    text-decoration: none;
                    font-weight: 800;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
                    transition: font-size 0.3s ease-in-out;
                }

                a:hover {
                    font-size: 27px;
                }
            }
        }
    }

    .hero__alltext {
        background-color: #ffffffE6;
        width: 620px;
        height: 200px;
        border-radius: 10px;
        padding: 20px 32px 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 0;
        transform: translateX(-60px);
        animation: slideInLeft 1s ease-out forwards;

        @keyframes slideInLeft {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        h2 {
            color: var.$blue;
            font-size: 48px;
            font-weight: 800;
            margin-bottom: 16px;
        }

        p {
            font-family: Raleway, sans-serif;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 24px;
        }
    }
}