{% load static %}

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corse</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <section class="hero">
        <header class="header">
            <div class="header__container">
                <h1 class="logo">
                    <a href="#">Serenità</a>
                </h1>
            </div>
        </header>
        <div class="hero__alltext">
            <h2>Bienvenue à ... Serenità</h2>
            <p>Découvrez notre appartement de charme en Corse, idéalement situé pour profiter pleinement des
                merveilles de l'île de beauté.</p>
            <!-- <div class="hero__button">
                <a href="#" class="hero__button--primary">Informations</a>
                <a href="#" class="hero__button--secondary">Voir les photos</a>
            </div> -->
        </div>
    </section>
    <section class="feature_section">
        <div class="feature_section__container">
            <div class="feature_section__text">
                <h2>Un havre de paix en Corse</h2>
                <p>
                    Niché entre mer et montagne, notre appartement Serenità vous offre le cadre idéal pour des vacances
                    reposantes et authentiques en Corse. Profitez du calme, du confort et de la beauté naturelle
                    environnante.
                </p>
            </div>
            <div class="feature_section__media_text">
                <img src="{% static 'main/assets/salon.jpg' %}" alt="image du salon">

                <div class="feature_section__media_text__text">
                    <h3>Votre séjour idéal en Corse</h3>
                    <p class="feature_section__media_text__text--p">
                        Notre appartement Serenità a été pensé pour vous offrir tout le confort nécessaire lors de votre
                        séjour en Corse. Spacieux, lumineux et décoré avec soin, il constitue une base parfaite pour
                        explorer les merveilles de l'île.
                    </p>
                    <div class="feature_section__text--svg_text">
                        <div class="feature_section__text--svg_text--div">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#0074B3">
                                <path
                                    d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
                            </svg>
                            <p>Emplacement idéal, proche des plages et commodités</p>
                        </div>
                        <div class="feature_section__text--svg_text--div">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#0074B3">
                                <path
                                    d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                            </svg>
                            <p>Appartement confortable et entièrement équipé</p>
                        </div>
                        <div class="feature_section__text--svg_text--div">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#0074B3">
                                <path
                                    d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z" />
                            </svg>
                            <p>Expérience authentique de la Corse</p>
                        </div>
                    </div>
                    <a class="feature_section__media_text__button" href="#">Découvrir l'appartement</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>